In [1]:
a = [1, 2, 3]
b = a

a.append(4)

print(b)

[1, 2, 3, 4]

In [2]:
class Gizmo:

    def __init__(self):

        print('Gizmo ID: %x' % id(self))


x = Gizmo()


try:
    y = Gizmo() * 10
except TypeError as e:
    print(f"\n3) 곱셈을 시도하기 전에 두 번째 Gizmo 객체가 실제로 생성되었음")
    print(f"발생한 오류: {e}")


print("\n>>> dir(x)")
print(dir(x))

Gizmo ID: 7fa384841040
Gizmo ID: 7fa38488c9b0

3) 곱셈을 시도하기 전에 두 번째 Gizmo 객체가 실제로 생성되었음
발생한 오류: unsupported operand type(s) for *: 'Gizmo' and 'int'

>>> dir(x)
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__']

In [3]:
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles

In [4]:
lewis is charles

True

In [5]:
id(charles), id(lewis)

(140340279982976, 140340279982976)

In [6]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [7]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [8]:
alex is charles

False

In [10]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])

In [11]:
print("t1 == t2, t1 is t2")
print(t1 == t2, t1 is t2)

t1 == t2, t1 is t2
True False

In [12]:
print("\nid(t1[-1])")
initial_id = id(t1[-1])
print(initial_id)

id(t1[-1])
140340280821120

In [13]:
t1[-1].append(99)

In [14]:
print("\nt1, id(t1[-1])")
print(t1, id(t1[-1]))

t1, id(t1[-1])
(1, 2, [30, 40, 99]) 140340280821120

In [15]:
print("\nt1 == t2")
print(t1 == t2)

t1 == t2
False

In [16]:
L1 = [3, [66, 55, 44], [7, 8, 9]]
L2 = list(L1)

In [18]:
L1.append(100)

In [20]:
L1[1].remove(55)
print('L1:', L1)
print('L2:', L2)

L1: [3, [66, 44], [7, 8, 9], 100, 100]
L2: [3, [66, 44], [7, 8, 9]]

In [21]:
L2[1]+=[33,22]

In [22]:
L2[2]+=[10,11]

In [23]:
print('L1:', L1)
print('L2:', L2)

L1: [3, [66, 44, 33, 22], [7, 8, 9, 10, 11], 100, 100]
L2: [3, [66, 44, 33, 22], [7, 8, 9, 10, 11]]

In [24]:
class Bus:

    def __init__(self, passengers=None):

        if passengers is None:

            self.passengers = []
        else:

            self.passengers = list(passengers)


    def pick(self, name):
        self.passengers.append(name)


    def drop(self, name):

        self.passengers.remove(name)

In [25]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(140339929321296, 140339929321968, 140339929322208)

In [26]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [27]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(140340281469056, 140340281469056, 140339922863616)

In [29]:

a = [10, 20]
b = [a, 30]


a.append(b)



print(a)






c = copy.deepcopy(a)



print(c)

[10, 20, [[...], 30]]
[10, 20, [[...], 30]]

In [30]:
def f(a, b):

    a += b
    return a

In [31]:
x = 1
y = 2
f(x, y) , ( x,y)

(3, (1, 2))

In [32]:
a = [1, 2]
b = [3, 4]
f(a,b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [33]:
t = (10, 20)
u = (30, 40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [34]:
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""


    def __init__(self, passengers=[]):

        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [35]:
bus1 = HauntedBus(['Alice', 'Bill'])
print(bus1.passengers)

['Alice', 'Bill']

In [36]:
bus1.pick('Charlie')
bus1.drop('Alice')
print(bus1.passengers)

['Bill', 'Charlie']

In [37]:
bus2 = HauntedBus()
bus2.pick('Carrie')
print(bus2.passengers)

['Carrie']

In [38]:
bus3 = HauntedBus()
print(bus3.passengers)

['Carrie']

In [39]:
bus3.pick('Dave')
print(bus2.passengers)

['Carrie', 'Dave']

In [40]:
bus2.passengers is bus3.passengers

True

In [41]:
bus1.passengers

['Bill', 'Charlie']

In [42]:
class TwilightBus:
    """승객이 사라지거나 안 타는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:

            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [43]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']


bus = TwilightBus(basketball_team)


bus.drop('Tina')
bus.drop('Pat')


basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [44]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:

            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [45]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']


bus = TwilightBus(basketball_team)


bus.drop('Tina')
bus.drop('Pat')


print(basketball_team)

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [46]:
import weakref
s1 = {1, 2, 3}
s2 = s1
def bye():
    print('Gone with the wind...')




ender = weakref.finalize(s1, bye)
ender.alive

del s1


ender.alive



s2 = 'spam'


ender.alive

Gone with the wind...

False